<template name="eventWide">
	<div class="ui two column grid">
		<div class="column">
			<img src="/images/defaults/event.jpg" alt="event description">
		</div>

		<div class="column">
			<h4>Enseñale a programar a un niño</h4>
			<p class="text-muted">Así que el post de hoy va por ellos. ¿Cómo enredarlos para que empiecen a programar? ¿Cómo enseñar a programar a un niño? Lo primero de todo es que entiendan cuál es el fin y qué van a conseguir. Por eso cualquier vídeo de Arduino haciendo alguna cosa molona puede valer. Si quieres algo más interactivo, en la página de Scratch tienes algún que otro ejemplo de aplicaciones hechas por jovenzuelos. Luego te cuento qué es Scratch, no me seas ansias. Pero te puedes hacer una idea de por dónde va el tema.</p>

			<div class="ui three column grid">
				<div class="column">
					<span><i class="ui icon marker"></i>Bogotá, Col</span>
				</div>

				<div class="column">
					<span><i class="ui icon theme"></i>Educación</span>
				</div>

				<div class="column">
					<i class="ui icon heart"></i>
				</div>
			</div>

			<div class="ui green small progress" data-percent="74">
				<div class="bar"></div>
			</div>

			<div class="ui four column grid" style="position: absolute; bottom: 0; width: 100%; padding-bottom: 10px">
				<div class="column">
					<h3 style="margin: 0" class="text-center">64%</h3>
					<p class="text-muted text-center">Donaciones</p>
				</div>

				<div class="column">
					<h3 style="margin: 0" class="text-center">34</h3>
					<p class="text-muted text-center">Voluntarios</p>
				</div>

				<div class="column">
					<h3 style="margin: 0" class="text-center">34</h3>
					<p class="text-muted text-center">Voluntarios</p>
				</div>

				<div class="column">
					<h3 style="margin: 0" class="text-center">34</h3>
					<p class="text-muted text-center">Voluntarios</p>
				</div>
			</div>
		</div>
	</div>
</template>
